asyncio
pandas
numpy
python-dotenv
pydantic
pydantic-settings
pyyaml

mcp
langchain
langchain-community
langchain-core
langgraph
langchain-groq
langchain-ollama
langchain-huggingface
langchain-google-genai
langchain-tavily
langchain-mcp-adapters
langsmith
deepagents

pytest
pytest-asyncio

prometheus-client

fastapi
uvicorn
sse-starlette
tenacity

streamlit